<div style="min-height: 800px;">

  <div class="boards-list">
    <gbn-column *ngFor="let step of model | mapToIterable"
                [name]="step.key" [issues]="step.value">
    </gbn-column>
  </div>

</div>
